# Test Report

*Report generated on 31-Jul-2026 at 13:49:50 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

1 tests ran in 0.61 seconds

- 1 passed

## 1 passed

### tests\test_operators.py

`test_basic` 0.00s
